<a href="https://colab.research.google.com/github/arnavkundalia/Sports-Feed/blob/main/ML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
# from google.colab import files
# uploaded = files.upload()

In [5]:
data = pd.read_csv("all_matches.csv")
data.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(213391, 22)

In [10]:
data.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213391 entries, 0 to 213390
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                213391 non-null  int64
 1   season                  213391 non-null  object
 2   start_date              213391 non-null  object
 3   venue                   213391 non-null  object
 4   innings                 213391 non-null  int64
 5   ball                    213391 non-null  float64
 6   batting_team            213391 non-null  object
 7   bowling_team            213391 non-null  object
 8   striker                 213391 non-null  object
 9   non_striker             213391 non-null  object
 10  bowler                  213391 non-null  object
 11  runs_off_bat            213391 non-null  int64
 12  extras                  213391 non-null  int64
 13  wides                   6518 non-null    float64
 14  noballs                 878 non-null     float64
 15  byes                    557 non-null     float64
 16  legbyes                 3364 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             10505 non-null   object
 19  player_dismissed        10505 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
dtypes: float64(8), int64(4), object(10)
memory usage: 35.8+ MB

In [8]:
data.describe()

,match_id,innings,ball,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,other_wicket_type,other_player_dismissed
count,2.133910e+05,213391.000000,213391.000000,213391.000000,213391.000000,6518.000000,878.000000,557.000000,3364.000000,2.0,0.0,0.0
mean,8.042191e+05,1.483868,9.541854,1.241533,0.066427,1.203743,1.039863,1.849192,1.300832,5.0,NaN,NaN
std,3.271221e+05,0.503301,5.682883,1.613585,0.339514,0.784559,0.350281,1.301170,0.840818,0.0,NaN,NaN
min,3.359820e+05,1.000000,0.100000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN
25%,5.012480e+05,1.000000,4.500000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN
50%,7.340310e+05,1.000000,9.400000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.0,NaN,NaN
75%,1.136601e+06,2.000000,14.400000,1.000000,0.000000,1.000000,1.000000,4.000000,1.000000,5.0,NaN,NaN
max,1.304068e+06,6.000000,19.900000,6.000000,7.000000,5.000000,5.000000,4.000000,5.000000,5.0,NaN,NaN

In [9]:
data.isnull().sum()

match_id                       0
season                         0
start_date                     0
venue                          0
innings                        0
ball                           0
batting_team                   0
bowling_team                   0
striker                        0
non_striker                    0
bowler                         0
runs_off_bat                   0
extras                         0
wides                     206873
noballs                   212513
byes                      212834
legbyes                   210027
penalty                   213389
wicket_type               202886
player_dismissed          202886
other_wicket_type         213391
other_player_dismissed    213391
dtype: int64